body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000000 url(image/star.jpg) ;
  background-size: 80%;
  padding: 0;
  margin: 0;
}

.fade {
  position: absolute;
  width: 100%;
  min-height: 60vh;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1000;
}

.intro-text {

  display: flex;
  position: absolute;
  max-width: 16em;
  font-size: 200%;
  font-weight: 400;
  margin: 20% auto;
  color: #4ee;
  opacity: 0;
  z-index: 1;
  text-align: center;
  animation: intro 2s ease-out;

}

.intro-logo {
  display:flex;
  position: absolute;
  width: 400px;
  height: auto;
  text-align: center;
  opacity: 0;
  z-index: 1;
  animation: logo 5s ease-out 2.5s;
}

.starwars {
  display: flex;
  justify-content: center;
  height: 800px;
  perspective: 400px;
  color: #ffd221;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  text-align: justify;
  z-index: 10;
}

 .crawl {
   position: relative;
   top: 9999px;
   transform-origin: 50% 100%;
   animation: crawl 80s linear 6s;
 }

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin:  0 0 100px;
  text-transform: uppercase;
}

@keyframes intro {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes logo {
  0% { transform: scale(1); opacity: 1; }
  50% { opacity: 1; }
  100% { transform: scale(0.1); opacity: 0; }
}

@keyframes crawl {

  0% { top: 0; transform: rotateX(20deg) translateZ(0); }
  100% { top:-6000px; transform: rotateX(25deg) translateZ(-2500px); }

}
